.main-content {
    padding: 20px;
    max-width: 1400px;
    margin: 0px auto;
}

.line {
    height: 3px;
    width: 99%;
    margin: auto;
    background-color: gray;
    display: block;
    border: none; /* remove default border if using <hr> */
}

.feedback-container{
    margin: 2%;
    height: auto;
    width: 92%;
    background-color: #FFD88F;
    border-radius: 20px;
    padding: 2%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.feedback-container h2 {
    margin-top: 0;
}

.feedback-container p {
    margin-top: 0;
}

.right-panel{
    width: 90%;
    height: auto
}

.left-panel{
    width: 10%;
    height: 20%;
    margin: auto 0;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;       /* equal width and height */
    height: 60px;
    background-color: red;
    color: white;
    border-radius: 50%; /* makes it a circle */
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}





